@mixin row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

@function column-calc($column-count) {
  @return $column-count / $total-columns * 100%;
}

@mixin push-columns($column-count) {
  margin-left: column-calc($column-count);
}

@mixin column($column-count, $push-columns: false, $nested: false) {
  @include padding(x $column-gutter--sm);
  box-sizing: border-box;
  width: column-calc($column-count);

  @include mq($bp--desktop-xl) {
    @include padding(null $column-gutter--lg);
  }

  @if is-number($push-columns) {
    @include push-columns($push-columns);
  }

  @if $nested {
    @include row;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
