body {
	margin: 0;
	background: $white;
}

.hero-survey,
.introduction,
.survey-points,
.concluding-thoughts {
    position: relative;
    z-index: 1;
}

.decor {
    bottom: 0;
    width: 3059px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: -1;

    .introduction & {
        width: 1762px;
    }

    &.a {
    	width: 2144px;
    }

    &.b {
    	width: 2314px;
    }

    &.b {
    	width: 2554px;
    }

    .concluding-thoughts & {
    	bottom: auto;
    	top: 0;
    	width: 2175px;
    }

    .i1,
    .i2,
    & {
        position: absolute;
    }

    svg {
        vertical-align: top;
        position: relative;
    }

    .i1,
    .i2 {
        width: 332px;
    }

    .i1 {
        left: 150px;
        bottom: 22px;
    }
    .i2 {
        right: 70px;
        bottom: 105px;
        transform: rotate(22deg);
    }

    .st00{clip-path:url(#SVGID_2_);}
    .st03{fill:#E5745D;fill-opacity:0.14;}

	.st04{clip-path:url(#SVGID_2_1);fill:#e4e9e2;}
}

.hero-survey {
	padding: 178px 0 174px;
	background: $jean url('/assets/images/bg-pattern-1.png') repeat;
	color: $white;
	font-size: 1.0625rem;
	line-height: 1.58;

	.container {
		@include container;
		max-width: 1055px;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;

		@include mq($bp--tablet) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.inner {
		max-width: 807px;
	}

	h1 {
		font-weight: 700;
		margin-bottom: 27px;

		@include mq($bp--tablet-xxl) {
			font-size: 72px;
		}
	}

	.text-wrap {
		max-width: 575px;

		p {
			margin-bottom: 17px;
		}
	}

	time {
		display: block;
		color: $salmon;
		font: 400 20px/1.4 $font--sans;
		letter-spacing: -1.7px;
	}
}

.introduction {
	padding: 95px 0 54px;
	overflow: hidden;
	font-size: 1.0625rem;
	line-height: 1.58;

	.container {
		@include container;
		max-width: 1055px;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;

		@include mq($bp--tablet) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.heading {
		position: relative;
		padding-bottom: 28px;
		margin-bottom: 20px;

		&:after {
			content: "";
			border: solid rgba(#c4c4c4, 0.5);
			border-width: 1px 0;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: -9999px;
			right: -9999px;
		}
	}

	h2 {
		font-weight: 700;
		color: $emerald;
		margin: 0;
	}

	.intro-content {
		display: flex;
		flex-wrap: wrap;

		.left-col {
			flex: 1;
			padding-right: 30px;
		}

		.right-col {
			width: 278px;
		}

		p {
			margin-bottom: 28px;
		}
	}

	.box {
		border: 1px solid $salmon;
		border-radius: 2px;
		padding: 20px;
		font-weight: 700;
		margin-bottom: 20px;
		font: 700 0.9375rem/1 $font--brown;

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {

				+ li {
					padding-top: 10px;
					margin-top: 10px;
					border-top: 1px solid #f2f2f2;
				}
			}

			a {
				color: $salmon;
				border: none;
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				i {
					width: 25px;
					height: 25px;
					border-radius: 50%;
					background: #334d6b;
					position: relative;

					&:before {
						content: "";
						background: url('/assets/images/arrow-down.svg') no-repeat 0 0 / 10px 10px;
						width: 10px;
						height: 10px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						margin-top: -1px;
					}
				}

				span {
					flex: 1;
					padding-left: 10px;
				}
			}
		}
	}

	.note {
		font-size: 0.8125rem;
		line-height: 1.6;
		color: #828282;
	}
}

.survey-points {
	padding: 218px 0 120px;

	&.bg-light-orange {
		background: $cement;
	}

	&.bg-orange {
		background: #f6eae3;
	}

	&.bg-white {
		background: $white;
	}

	+ .survey-points {
		// margin-top: -350px;
	}

	&:last-child {

		.block {
			padding-bottom: 0;

			&:after,
			&:before {
				content: none;
			}
		}
	}

	.container {
		@include container;
		max-width: 1260px;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;

		@include mq($bp--tablet) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.block {
		padding-bottom: 334px;
		position: relative;

		&:after,
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50);
			width: 2px;
			height: 300px;
			background: $light-salmon;
		}

		&:after {
			height: 150px;
			background: $salmon;
		}
	}

	.heading {
		max-width: 900px;
		margin: 0 auto 41px;
		text-align: center;
		padding-top: 40px;

		.num {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: $white;
			min-width: 44px;
			height: 44px;
			border-radius: 999px;
			background: $salmon;
			margin: 0 auto 30px;
			padding: 9px 12px 6px;
			font: 20px/1 $font--brown;
			box-sizing: border-box;

			em {
				font-style: normal;
				display: inline-block;
				vertical-align: middle;
				padding-left: 6px;
				margin-left: 8px;
				position: relative;

				&:before {
					content: "";
					background: $white;
					position: absolute;
					width: 2px;
					left: -2px;
					top: 1px;
					bottom: 4px;
				}
			}
		}

		h3 {
			font-size: 3.125rem;
			line-height: 1.21;
			font-weight: 700;
			color: $emerald;
			margin: 0;
		}

		h4 {
			font: 400 2.5rem/1.2 $font--serif;
			color: $emerald;
			max-width: 790px;
			margin: 0 auto;
		}
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 -15px;

		&.alt {
			flex-direction: row-reverse;
		}

		+ .row {
			margin-top: 150px;
		}
	}

	.img {
		width: 718px;
		padding: 0 15px;
		box-sizing: border-box;

		img {
			width: 100%;
		}
	}

	.desc {
		flex: 1;
		padding: 0 15px;
	}

	p {
		margin-bottom: 11px;
	}

	.highlight-txt {
		font: 200 2.625rem/1.2 $font--serif;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		p {
			margin: 0;

			+ p {
				margin-top: 20px;
			}
		}
	}

	.btn-wrap {
		margin-top: 19px;
	}

	.btn {
		display: inline-block;
		vertical-align: top;
		background: $salmon;
		padding: 13px 38px 14px 20px;
		letter-spacing: 1px;
		border-radius: 50px;
		border: none;
		color: $white;
		font: 700 17px/1 $font--brown;
		position: relative;

		&:before {
			content: "+";
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.img-full {
		text-align: center;
		margin-bottom: 30px;
	}

	.text-row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;

		.col {
			width: 50%;
			padding: 0 15px;
			box-sizing: border-box;
		}
	}
}

.concluding-thoughts {
	padding: 241px 0 102px;
	background: #93bdad url('/assets/images/bg-pattern-2.png') repeat;
	font-size: 1.250rem;
	line-height: 1.5;

	.container {
		@include container;
		max-width: 953px;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;

		@include mq($bp--tablet) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.heading {
		position: relative;
		padding-bottom: 28px;
		margin-bottom: 20px;

		&:after {
			content: "";
			border: solid #596b8c;
			border-width: 1px 0;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	p {
		margin-bottom: 10px;
	}

	h2 {
		font-weight: 700;
		color: $emerald;
		margin: 0;
	}
}