body {
  background-color: $color--bg-theme-light;
}

main {
  max-height: 100vh;
  overflow: hidden;

  &:not(.modal-layout) {
    @include mq(0, $bp--tablet-xxl) {
      padding-top: $nav-height--sm;
    }
  }

  &.overflow-all {
    max-height: inherit;
    overflow: auto;
  }
}

.skip-to-main {
  @include absolute(0 x x 50%);
  background-color: $salmon;
  border-bottom: 0;
  color: $white;
  opacity: 0;
  padding: $spacing--sm $spacing--base;
  transform: translate(-50%, -100%);
  transition: all 300ms ease-in-out;
  z-index: 20000;

  &:active,
  &:focus {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}
