@import '../variables';
@import '../mixins/mixins';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include body;
  color: $color--text;
}

h1 {
  @include h1;
  @include margin(0 x $spacing--lg);
}

h2 {
  @include h2;
  @include margin(0 x $spacing--md);
}

h3 {
  @include h3;
  @include margin(0 x $spacing--md);
}

h4 {
  @include h4;
  @include margin(0 x $spacing--base);
}

h5 {
  @include h5;
  @include margin(0 x $spacing--base);
}

h6 {
  @include h6;
  @include margin(0 x $spacing--base);
}

p {
  @include margin(0 x $spacing--md);
}

a {
  border-bottom: 1px solid;
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 500;
}
